<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaban.darenliu.chatroom">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name="com.shaban.darenliu.chatroom.ChatApplication"
        android:icon="@mipmap/shaban_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Shaban">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shaban.darenliu.chatroom.MainActivity">
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.LoginActivity" />
        </activity>

        <activity
            android:name="com.shaban.darenliu.chatroom.LectureView"
            android:label="@string/course_room_heading">
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.MainActivity" />
        </activity>

        <activity
            android:name="com.shaban.darenliu.chatroom.LecturePage"
            android:label="@string/course_room_heading">
            android:parentActivityName=".LectureView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.MainActivity" />
        </activity>

        <activity android:name="com.shaban.darenliu.chatroom.VideoPage"
            android:label="Video">
            android:parentActivityName=".LecturePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.MainActivity" />
        </activity>

        <activity android:name="com.shaban.darenliu.chatroom.TranscriptPage"
            android:label="Transcript">
            android:parentActivityName=".LecturePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.MainActivity" />
        </activity>

        <activity
            android:name="com.shaban.darenliu.chatroom.Chat"
            android:label="Chat">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaban.darenliu.chatroom.MainActivity" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <provider
            android:name="com.shaban.darenliu.chatroom.TestContentProvider"
            android:authorities="com.shaban.darenliu.chatroom"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>